.contenedor-hibrida{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5rem;
}
.text-principal{
    text-align: center;
    font-size: 4rem;
    margin-top: 2rem;
}
.text-secundario{
    margin-top: 1.3rem;
    font-size: 2rem;
    text-align: center;
    width: 700px;
}